<div class="about-section">
  <h1>About Us</h1>
  <p>Classroom teaching has a new definition!!</p>
  <p>With this amazing blend of technology, give yourself a whole new classroom learning experience.</p>
</div>

<h2 style="text-align:center">Popular Courses</h2>
<div class="row" style="padding-bottom: 80px;">
  <div class="column">
    <div class="card">
      <img src="./assets/images/mean-stack.png" alt="Mean" style="width:100%">
      <div class="container">
        <h2>Mean</h2>
        <p class="title">MongoDB, Express. js, AngularJS, and Node. js</p>
        <p>The MEAN stack is a framework for developing web applications. It is named after MongoDB,
          Express, Angular, and Node, the four key technologies that make up the layers of the stack.</p>
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="../assets/images/mern.jpg" alt="Mern" style="width:100%; height: 150px;">
      <div class="container">
        <h2>Mern</h2>
        <p class="title">MongoDB, Express, React, Node</p>
        <p>The MERN stack is a web development framework made up of the stack of MongoDB, Express.js, React.js, and
          Nodejs. It is one of the several variants of the MEAN stack.</p>
        
      </div>
    </div>
  </div>

  <div class="column">
    <div class="card">
      <img src="./assets/images/NET-Framework-Emblem.png" alt=".Net" style="width:100%; height: 150px;">
      <div class="container">
        <h2>.NET</h2>
        <p class="title">Dot NET</p>
        <p>.NET Framework is used to create and run software applications. .NET apps can run on many operating systems(cross-platform),
          using different implementations of .NET</p>
        
      </div>
    </div>
  </div>
</div>