<div class="row">
	<a src="../assets/images/G1.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="../assets/images/G1.png" class="img-fluid">
	</a>
	<a src="../assets/images/G2.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="../assets/images/G2.png" class="img-fluid">
	</a>
	<a src="../assets/images/G3.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="../assets/images/G3.png" class="img-fluid">
	</a>
</div>
<div class="row" style="padding-bottom: 80px;">
	<a src="../assets/images/G4.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="../assets/images/G4.png" class="img-fluid">
	</a>
	<a src="../assets/images/G5.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="../assets/images/G5.png" class="img-fluid">
	</a>
	<a src="../assets/images/G6.png" data-toggle="lightbox" data-gallery="example-gallery" class="col-sm-4">
		<img src="../assets/images/G6.png" class="img-fluid">
	</a>
</div>
